<header>
  <img
  src="assets\Eu.jpg"
  alt="fotoYago"
  width="130px"
  height="130px"
  loading="eager"
  />
  <h1>Yago Oliveira</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor Full-stack | Java | Spring | Angular</p>
    <p>Duque de Caxias, Rio de Janeiro, Brasil</p>
    <p>
      Sou um desenvolvedor Full-stack em formação. Este portfólio é
      para aprimorar minhas habilidades no front-end.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/yago-de-oliveira-barbosa/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src='assets\icons\whatsapp.svg' alt="icone para whatsapp"
        width="22px"
        height="24px"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5521973728999"
          target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: 21 97372-8999</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src='assets\icons\email.svg' alt="icone para e-mail"
        width="22px"
        height="24px"
        />
        <figcaption>
          <a href="mailto:yagodeoliveirabarbosa@gmail.com"
          target="_blank">
            <strong>Envie um e-mail:</strong>
            <p>yagodeoliveirabarbosa&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
