.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;

  &.btn-primary, &.btn-secondary{
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
  }

  &.btn-primary{

    color: var(--cor-segundaria);
    background-color: var(--cor-quarta);

    &:hover{
      background-color: var(--cor-quartaEscura);
    }
  }

  &.btn-secondary{
    color: var(--cor-segundaria);
    background-color: var(--cor-terciaria);

    &:hover{
      background-color: var(--cor-terciariaEscura);
    }
  }
}
