:root {
  --cor-primaria: #10101a;
  --cor-primariaClara: #151515;

  --cor-segundaria: #f5f5f5;
  --cor-segundariaClara: #ffffff;


  --cor-terciaria: #0C5B98;
  --cor-terciariaEscura: #0A4E8C;

  --cor-quarta: #004f4f;
  --cor-quartaEscura: #004040;
}
