:host{
  margin-top: 25px;
  padding: 5px 0;
  display: flex ;
  justify-content: center ;
  align-items: center ;

  hr {
    border: none;
    height: 2px;
    background-color: #1f1f1f;
    width: 100%;
    margin: 20px 0;
  }

  h2{
    text-align: center;
    margin: 15px;
  }

    ul{
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;

      li{
        width: 270px;
        height: 300px;
        border-radius: 7px;
        border: 3px solid transparent;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        margin: 20px 20px;

        &:hover{
          background-color:var(--cor-primaria);
          border-color: var(--cor-quarta);
          p, h3{
            color: var(--cor-quarta);
          }
        }

        img{
          margin-top: 15px;
        }

        p {
          width: 90%;
          text-align: center;
          color: #D3D3D3;
        }

      }
    }

}
